force-app/main/default/flows/Edit_Customer_V2.flow-meta.xml
<?xml version='1.0' encoding='UTF-8'?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Simplified single-screen Edit Customer flow with Gender field (V2)</description>
    <environments>Default</environments>
    <interviewLabel>Edit Customer V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Customer V2</label>
    <processType>Flow</processType>
    <status>Draft</status>
    <actionCalls>
        <name>Action_SubmitToCMDM</name>
        <label>Submit To CMDM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EditCustomerCMDMCalloutV2</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isPersonAccount</name>
            <value>
                <elementReference>var_IsPersonAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>var_EditAccount.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>var_EditAccount.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>middleName</name>
            <value>
                <elementReference>var_EditAccount.MiddleName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>var_EditAccount.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferredName</name>
            <value>
                <elementReference>var_EditAccount.FinServ__PreferredName__pc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>birthdate</name>
            <value>
                <elementReference>var_EditAccount.PersonBirthdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gender</name>
            <value>
                <elementReference>var_EditAccount.FinServ__Gender__pc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>marketingConsent</name>
            <value>
                <elementReference>var_EditAccount.MarketingConsent__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobile</name>
            <value>
                <elementReference>var_EditAccount.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>var_EditAccount.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>streetNumber</name>
            <value>
                <elementReference>var_StreetNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>streetName</name>
            <value>
                <elementReference>var_StreetName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>streetType</name>
            <value>
                <elementReference>var_StreetType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locality</name>
            <value>
                <elementReference>var_Locality</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>townCity</name>
            <value>
                <elementReference>var_TownCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>var_State</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postcode</name>
            <value>
                <elementReference>var_Postcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buildingName</name>
            <value>
                <elementReference>var_BuildingName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitType</name>
            <value>
                <elementReference>var_UnitType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitNumber</name>
            <value>
                <elementReference>var_UnitNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>levelType</name>
            <value>
                <elementReference>var_LevelType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>levelNumber</name>
            <value>
                <elementReference>var_LevelNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nameChanged</name>
            <value>
                <elementReference>frm_NameChanged</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferredNameChanged</name>
            <value>
                <elementReference>frm_PreferredNameChanged</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dobChanged</name>
            <value>
                <elementReference>frm_DOBChanged</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>genderChanged</name>
            <value>
                <elementReference>frm_GenderChanged</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>marketingConsentChanged</name>
            <value>
                <elementReference>frm_MarketingConsentChanged</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileChanged</name>
            <value>
                <elementReference>frm_MobileChanged</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailChanged</name>
            <value>
                <elementReference>frm_EmailChanged</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addressChanged</name>
            <value>
                <elementReference>frm_AddressChanged</elementReference>
            </value>
        </inputParameters>
        <inputParameters><name>title</name><value><elementReference>var_EditAccount.Salutation</elementReference></value></inputParameters><inputParameters><name>titleChanged</name><value><elementReference>frm_TitleChanged</elementReference></value></inputParameters><outputParameters>
            <name>isSuccess</name>
            <assignToReference>var_CMDMSuccess</assignToReference>
        </outputParameters>
        <outputParameters>
            <name>errorMessage</name>
            <assignToReference>var_CMDMError</assignToReference>
        </outputParameters>
        <connector>
            <targetReference>Decision_API_Result</targetReference>
        </connector>
    </actionCalls>
    <assignments>
        <name>Copy_To_Editable</name>
        <label>Copy To Editable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_IsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.IsPersonAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.FinServ__PreferredName__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.FinServ__PreferredName__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.PersonBirthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.FinServ__Gender__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.FinServ__Gender__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.MarketingConsent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.MarketingConsent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_StreetName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Locality</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TownCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.PersonMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrigAccount.Salutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Edit_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Screen_To_Record</name>
        <label>Copy Screen To Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_EditAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MiddleName_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.FinServ__PreferredName__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredName_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Birthdate_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.FinServ__Gender__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.MarketingConsent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketingConsent_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EditAccount.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Any_Changes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_MarketingYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MarketingNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_GenderMale</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MALE</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_GenderFemale</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FEMALE</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_GenderUnknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UNKNOWN</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_GenderIndeterminate</name>
        <choiceText>Indeterminate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INDETERMINATE</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Any_Changes</name>
        <label>Any Changes?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_No_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Changes</defaultConnectorLabel>
        <rules>
            <name>HasChanges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_AnyFieldChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_SubmitToCMDM</targetReference>
            </connector>
            <label>Has Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_API_Result</name>
        <label>Was Save Successful?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CMDMSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Success</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>frm_NameChanged</name>
        <dataType>Boolean</dataType>
        <expression>OR( AND({!var_IsPersonAccount} = TRUE, OR( BLANKVALUE({!var_OrigAccount.FirstName},"") &lt;&gt; BLANKVALUE({!var_EditAccount.FirstName},""), BLANKVALUE({!var_OrigAccount.MiddleName},"") &lt;&gt; BLANKVALUE({!var_EditAccount.MiddleName},""), BLANKVALUE({!var_OrigAccount.LastName},"") &lt;&gt; BLANKVALUE({!var_EditAccount.LastName},"") )), AND({!var_IsPersonAccount} = FALSE, BLANKVALUE({!var_OrigAccount.Name},"") &lt;&gt; BLANKVALUE({!var_EditAccount.Name},"")) )</expression>
    </formulas>
    <formulas>
        <name>frm_PreferredNameChanged</name>
        <dataType>Boolean</dataType>
        <expression>BLANKVALUE({!var_OrigAccount.FinServ__PreferredName__pc},"") &lt;&gt; BLANKVALUE({!var_EditAccount.FinServ__PreferredName__pc},"")</expression>
    </formulas>
    <formulas>
        <name>frm_DOBChanged</name>
        <dataType>Boolean</dataType>
        <expression>{!var_OrigAccount.PersonBirthdate} &lt;&gt; {!var_EditAccount.PersonBirthdate}</expression>
    </formulas>
    <formulas>
        <name>frm_GenderChanged</name>
        <dataType>Boolean</dataType>
        <expression>BLANKVALUE(TEXT({!var_OrigAccount.FinServ__Gender__pc}),"") &lt;&gt; BLANKVALUE(TEXT({!var_EditAccount.FinServ__Gender__pc}),"")</expression>
    </formulas>
    <formulas>
        <name>frm_MarketingConsentChanged</name>
        <dataType>Boolean</dataType>
        <expression>BLANKVALUE(TEXT({!var_OrigAccount.MarketingConsent__c}),"") &lt;&gt; BLANKVALUE(TEXT({!var_EditAccount.MarketingConsent__c}),"")</expression>
    </formulas>
    <formulas>
        <name>frm_MobileChanged</name>
        <dataType>Boolean</dataType>
        <expression>BLANKVALUE({!var_OrigAccount.PersonMobilePhone},"") &lt;&gt; BLANKVALUE({!var_EditAccount.PersonMobilePhone},"")</expression>
    </formulas>
    <formulas>
        <name>frm_EmailChanged</name>
        <dataType>Boolean</dataType>
        <expression>BLANKVALUE({!var_OrigAccount.PersonEmail},"") &lt;&gt; BLANKVALUE({!var_EditAccount.PersonEmail},"")</expression>
    </formulas>
    <formulas>
        <name>frm_AddressChanged</name>
        <dataType>Boolean</dataType>
        <expression>OR( BLANKVALUE({!var_OrigAccount.PersonMailingStreet},"") &lt;&gt; BLANKVALUE({!var_StreetName},""), BLANKVALUE({!var_OrigAccount.PersonMailingCity},"") &lt;&gt; BLANKVALUE({!var_Locality},""), BLANKVALUE({!var_OrigAccount.PersonMailingState},"") &lt;&gt; BLANKVALUE({!var_TownCity},""), BLANKVALUE({!var_OrigAccount.PersonMailingPostalCode},"") &lt;&gt; BLANKVALUE({!var_Postcode},"") )</expression>
    </formulas>
    <formulas>
        <name>frm_AnyFieldChanged</name>
        <dataType>Boolean</dataType>
        <expression>{!frm_NameChanged} || {!frm_TitleChanged} || {!frm_PreferredNameChanged} || {!frm_DOBChanged} || {!frm_MarketingConsentChanged} || {!frm_MobileChanged} || {!frm_EmailChanged} || {!frm_AddressChanged}</expression>
    </formulas>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_To_Editable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <outputReference>var_OrigAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>FinServ__Gender__pc</queriedFields>
        <queriedFields>FinServ__PreferredName__pc</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>PersonMailingStreet</queriedFields>
        <queriedFields>PersonMailingCity</queriedFields>
        <queriedFields>PersonMailingState</queriedFields>
        <queriedFields>PersonMailingPostalCode</queriedFields>
        <queriedFields>PersonMailingCountry</queriedFields>
        <queriedFields>SourceSystemId__c</queriedFields>
        <queriedFields>MarketingConsent__c</queriedFields>
        </recordLookups>
    <screens>
        <name>Screen_Edit_Fields</name>
        <label>Edit Customer Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields><name>Source_System_ID_Display</name><fieldText>&lt;p&gt;&lt;b&gt;Source System ID:&lt;/b&gt; {!var_OrigAccount.SourceSystemId__c}&lt;/p&gt;&lt;p style="color:#706e6b; font-size:12px;"&gt;Reference only — not editable.&lt;/p&gt;</fieldText><fieldType>DisplayText</fieldType></fields><connector>
            <targetReference>Copy_Screen_To_Record</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <name>Privacy_Warning</name>
            <fieldText>&lt;p style="background-color:#FFFBEA; border-left:4px solid #F2C94C; padding:12px; border-radius:4px;"&gt;&lt;b&gt;Important:&lt;/b&gt; Customers can only update their own information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Section_TwoColumn</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Business Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FirstName_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MiddleName_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.MiddleName</elementReference>
                    </defaultValue>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LastName_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PreferredName_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.FinServ__PreferredName__pc</elementReference>
                    </defaultValue>
                    <fieldText>Preferred Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Birthdate_Input</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.PersonBirthdate</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Gender_Input</name>
                    <choiceReferences>choice_GenderMale</choiceReferences>
                    <choiceReferences>choice_GenderFemale</choiceReferences>
                    <choiceReferences>choice_GenderUnknown</choiceReferences>
                    <choiceReferences>choice_GenderIndeterminate</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.FinServ__Gender__pc</elementReference>
                    </defaultValue>
                    <fieldText>Gender</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MarketingConsent_Input</name>
                    <choiceReferences>choice_MarketingYes</choiceReferences>
                    <choiceReferences>choice_MarketingNo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.MarketingConsent__c</elementReference>
                    </defaultValue>
                    <fieldText>Marketing Consent</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields><name>Title_Input</name><choiceReferences>choice_TitleMr</choiceReferences><choiceReferences>choice_TitleMrs</choiceReferences><choiceReferences>choice_TitleMs</choiceReferences><choiceReferences>choice_TitleMiss</choiceReferences><choiceReferences>choice_TitleProfessor</choiceReferences><choiceReferences>choice_TitleDr</choiceReferences><choiceReferences>choice_TitleSir</choiceReferences><choiceReferences>choice_TitleReverend</choiceReferences><choiceReferences>choice_TitleSister</choiceReferences><choiceReferences>choice_TitleMaster</choiceReferences><choiceReferences>choice_TitleLady</choiceReferences><choiceReferences>choice_TitleLord</choiceReferences><dataType>String</dataType><defaultValue><elementReference>var_EditAccount.Salutation</elementReference></defaultValue><fieldText>Title</fieldText><fieldType>DropdownBox</fieldType><isRequired>false</isRequired><visibilityRule><conditionLogic>and</conditionLogic><conditions><leftValueReference>var_IsPersonAccount</leftValueReference><operator>EqualTo</operator><rightValue><booleanValue>true</booleanValue></rightValue></conditions></visibilityRule></fields><inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
            </fields>
            <fields>
                <name>Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.PersonMobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Mobile Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_EditAccount.PersonEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
            </fields>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_Search</name>
            <extensionName>c:addressSearchLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>streetNumber</name>
                <value>
                    <elementReference>var_StreetNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>streetName</name>
                <value>
                    <elementReference>var_StreetName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>streetType</name>
                <value>
                    <elementReference>var_StreetType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locality</name>
                <value>
                    <elementReference>var_Locality</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>townCity</name>
                <value>
                    <elementReference>var_TownCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>var_State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postcode</name>
                <value>
                    <elementReference>var_Postcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>var_Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buildingName</name>
                <value>
                    <elementReference>var_BuildingName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>unitType</name>
                <value>
                    <elementReference>var_UnitType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>unitNumber</name>
                <value>
                    <elementReference>var_UnitNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>levelType</name>
                <value>
                    <elementReference>var_LevelType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>levelNumber</name>
                <value>
                    <elementReference>var_LevelNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressKey</name>
                <value>
                    <elementReference>var_AddressKey</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRiskAddress</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <outputParameters>
                <name>streetNumber</name>
                <assignToReference>var_StreetNumber</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>streetName</name>
                <assignToReference>var_StreetName</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>streetType</name>
                <assignToReference>var_StreetType</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>locality</name>
                <assignToReference>var_Locality</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>townCity</name>
                <assignToReference>var_TownCity</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>state</name>
                <assignToReference>var_State</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>postcode</name>
                <assignToReference>var_Postcode</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>country</name>
                <assignToReference>var_Country</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>buildingName</name>
                <assignToReference>var_BuildingName</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>unitType</name>
                <assignToReference>var_UnitType</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>unitNumber</name>
                <assignToReference>var_UnitNumber</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>levelType</name>
                <assignToReference>var_LevelType</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>levelNumber</name>
                <assignToReference>var_LevelNumber</assignToReference>
            </outputParameters>
            <outputParameters>
                <name>addressKey</name>
                <assignToReference>var_AddressKey</assignToReference>
            </outputParameters>
        </fields>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <name>Screen_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Customer details submitted successfully.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Changes will reflect on the Account shortly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <name>Screen_Error_Message</name>
            <fieldText>&lt;p style='color:#c23934;'&gt;&lt;b&gt;We couldn't submit the changes.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!var_CMDMError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Screen_No_Changes</name>
        <label>No Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <name>Screen_No_Changes_Message</name>
            <fieldText>&lt;p&gt;No changes detected. Please go back and edit, or close this flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OrigAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_EditAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_IsPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CMDMSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CMDMError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MembershipStartText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StreetNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StreetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StreetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Locality</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TownCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BuildingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UnitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UnitNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LevelType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LevelNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AddressKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UnitInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
<choices><name>choice_TitleMr</name><choiceText>Mr</choiceText><dataType>String</dataType><value><stringValue>Mr</stringValue></value></choices><choices><name>choice_TitleMrs</name><choiceText>Mrs</choiceText><dataType>String</dataType><value><stringValue>Mrs</stringValue></value></choices><choices><name>choice_TitleMs</name><choiceText>Ms</choiceText><dataType>String</dataType><value><stringValue>Ms</stringValue></value></choices><choices><name>choice_TitleMiss</name><choiceText>Miss</choiceText><dataType>String</dataType><value><stringValue>Miss</stringValue></value></choices><choices><name>choice_TitleProfessor</name><choiceText>Professor</choiceText><dataType>String</dataType><value><stringValue>Professor</stringValue></value></choices><choices><name>choice_TitleDr</name><choiceText>Dr</choiceText><dataType>String</dataType><value><stringValue>Dr</stringValue></value></choices><choices><name>choice_TitleSir</name><choiceText>Sir</choiceText><dataType>String</dataType><value><stringValue>Sir</stringValue></value></choices><choices><name>choice_TitleReverend</name><choiceText>Reverend</choiceText><dataType>String</dataType><value><stringValue>Reverend</stringValue></value></choices><choices><name>choice_TitleSister</name><choiceText>Sister</choiceText><dataType>String</dataType><value><stringValue>Sister</stringValue></value></choices><choices><name>choice_TitleMaster</name><choiceText>Master</choiceText><dataType>String</dataType><value><stringValue>Master</stringValue></value></choices><choices><name>choice_TitleLady</name><choiceText>Lady</choiceText><dataType>String</dataType><value><stringValue>Lady</stringValue></value></choices><choices><name>choice_TitleLord</name><choiceText>Lord</choiceText><dataType>String</dataType><value><stringValue>Lord</stringValue></value></choices><formulas><name>frm_TitleChanged</name><dataType>Boolean</dataType><expression>BLANKVALUE(TEXT({!var_OrigAccount.Salutation}),"") &lt;&gt; BLANKVALUE(TEXT({!var_EditAccount.Salutation}),"")</expression></formulas></Flow>